.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@font-face {
  font-display: block;
  font-family: "Lab Mono";
  src: url("https://type.cargo.site/files/LabMono-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

.openingMessage {
  text-align: right;
  font-family: "Lab Mono", Icons;
  font-weight: 400;
  font-size: 4vh;
  margin: 16px;
}

.paragraphAndImage {
  display: flex;
}

.fullParagraph {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.paragraph {
  font-family: "Lab Mono", Icons;
  font-weight: 400;
  font-size: 4vh;
  width: 100%;
  max-width: 65vw;
  word-wrap: break-word;
}

.imageAndResume {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.imageContainer {
  margin-right: 20px;
}

.image {
  height: auto;
  max-width: 35vw;
}

.resume {
  font-family: "Lab Mono", Icons;
  font-weight: 400;
  font-size: 4vh;
}

.goAndNoButtons {
  display: flex;
  gap: 40vw;
  justify-content: center;
}

.goButton, .noButton {
  font-size: 26px;
  font-family: "Lab Mono", Icons;
  font-style: normal;
  text-decoration-line: none;
  border: 2px solid black;
  border-radius: 5px;
}