#root {
  background-color: white;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@font-face {
  font-display: block;
  font-family: "Lab Mono";
  src: url("https://type.cargo.site/files/LabMono-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

.openingMessage {
  color: black;
  text-align: right;
  font-family: "Lab Mono", Icons;
  font-size: 1rem;
  margin: 1rem;
}

.paragraphAndImage {
  display: flex;
}

.fullParagraph {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph {
  font-family: "Lab Mono", Icons;
  font-size: 1rem;
  width: 90%;
  word-wrap: break-word;
}

.imageAndResume {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.imageContainer {
  margin-right: 1.2rem;
}

.image {
  height: auto;
  max-width: 35vw;
}

.resume {
  color: black;
  font-family: "Lab Mono", Icons;
  font-weight: 400;
  font-size: 4vh;
}

.goButton {
  font-size: 24px;
  font-family: "Lab Mono", Icons;
  font-style: normal;
  text-decoration-line: none;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}